extends baseEmail

block content
  //- - var img = "public/img/email/logo.png"
  //- img(src='https://kycdocumentsuploads.s3.us-east-2.amazonaws.com/default.jpg')
  p Dear #{firstName},

  p
    | Your password reset token is: 
    //- br
  p
    span(style='color: orangered; justify-content: center;') #{url}
    //- br
  //- p
  //-   span(style='white-space: pre-line;')
  //-     | If you did not make this request, kindly contact 
  //-     a(href='mailto:support@hettysphere.com') support@hettysphere.com
  //-     |  to
  //-     |         protect your account.
  p
    span(style='white-space: pre-line;')
      | Kindly ignore, if you didn't make this request.
      //- a(href='https://www.hettysphere.com') hettysphere.com
      //- |  to
      //- |         protect your account.

  p
    | Sincerely 
    br
    |       Everywair
  //- p Your password reset token is:
  //- p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
  //- p (Website for this action not yet implememnted.)
  //- table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
  //-   tbody
  //-     tr
  //-       td(align='left')
  //-         table(role='presentation', border='0', cellpadding='0', cellspacing='0')
  //-           tbody
  //-             tr
  //-               td
  //-                 //- a(href=`${url}`, target='_blank') Reset your password
  //-                 p #{url}
  //- p If you didn't forget your password, please ignore this email!

  //- p Sincerely
  //- p Hettysphere

